{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindergarden</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static './bootstrap-5.0.2-dist/css/bootstrap.css' %}">

    <link rel="icon" href="{% static './Images/title.png' %}">
</head>

<body>
    <header id="header-about">
        <div class="navAbout">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pt-2 ps-5">
                        <h1 class="nav-info">Dilsevar</h1><span class="text-danger display-flex para">.</span>
                    </div>
                    <div class="col-md-3">
                        <i class="fas fa-map-marker-alt sdilsevaroat fa-2x text-warning"></i>
                        <p class="navinfo1 pt-2 text-white">
                            14-uy, 5-Loyish tor kuchasi, Oqdaryo. Uzbekistan
                        </p>
                    </div>
                    <div class="col-md-3">
                        <i class="far fa-clock soat fa-2x text-warning"></i>
                        <p class="navinfo1 pt-2 text-white">
                            Dushanbadan-Shanbagacha 7:30AM-17:00PM
                        </p>
                    </div>
                </div>
                <div class="nav-dum pt-5">
                    <div class="nav-dumaloq">

                        <div class="ul">
                            <ul>
                                <li>
                                    <p class="menuni">
                                        <i class="fas fa-times" style="margin: 0; padding: 0;"></i>
                                    </p>
                                </li>
                                <li>
                                    <a href="{% url 'home' %}">Uy</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}">Haqida</a>
                                </li>
                                <li>
                                    <a href="{% url 'news' %}">Jamoa</a>
                                </li>
                                <li>
                                    <a href="{% url 'galery' %}" class="active">Galeriya</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Bog'lanish</a>
                                </li>
                            </ul>
                        </div>

                        <a href="https://t.me/malika_egamquluva">
                            <div class="tg">
                                <i class="fab fa-telegram"></i>
                                <i class="fab fa-instagram-square"></i>
                            </div>
                        </a>
                        <div class="menuJS ps-4">
                            <h5 class="menuni">Menu</h5>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </header>
    <h1 class="text-center text-primary py-5">Galeriya</h1>
    <div id="galery">
        <div class="container">
            <div class="row">
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image3.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image1.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image2.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image4.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image5.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image6.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image8.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image9.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image10.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image11.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image12.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image13.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image14.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image15.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image16.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image19.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image20.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer">
                        <img src="{% static './Images/image21.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-right">
                    <div class="galer">
                        <img src="{% static './Images/image22.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <div class="galer" data-aos="fade-right">
                        <img src="{% static './Images/image23.jpg' %}" class="img-fluid" alt="dilsevar">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="bg-foter">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-4 my-5 ps-5">
                    <h2 class="text-secondary">Dilsevar nomli bog'cha</h2>
                    <p class="text-danger"> Oqdaryo tuman Maktabgacha ta'lim bo'limi
                        tasarrufidagi Dilsevar nomli oilaviy nodavlat
                        Maktabgacha ta'lim tashkiloti. YATT ABDIYEV SHAVKAT SHAKAROVICH
                    </p>
                </div>
                <div class="col-lg-4 text-danger my-5">
                    <span><i class="fas fa-phone"></i></span><span>Telefon raqam: <a href="tel:+998972869588"
                            style="text-decoration: none;">+998 97 286 95 88</a></span>
                    <hr>
                    <span><i class="fas fa-phone"></i></span><span>Email: <a href="https://malikaegamquluva@gmail.com"
                            style="text-decoration: none;">malikaegamquluva@gmail.com</a></span>
                    <hr>
                    <span><i class="fas fa-map-marker-alt">dilsevar</i></span><span>Manzil: <a
                            href="https://goo.gl/maps/kxDY4xA7nRVzgjvF9" style="text-decoration: none;">Samarqand v,
                            Oqdaryo t, Qushyo'g'och q</a></span>
                    <hr>
                </div>
                <!-- <i class="fas fa-map-marker-alt sdilsevaroat fa-2x text-warning"></i> -->
                <div class="col-lg-4">
                    <h1 class="text-foter-">Dilsevar nomli bog'cha </h1>
                </div>
                <div class="credits col-md-12 text-center pb-5">
                    <hr /> Copyright &copy; 2021 by <a href="https://t.me/az1kkcoder"> Azamat Pulatov | Az1kk_coder</a>
                    <br>
                    <i class="fa fa-map-marker"></i> <a
                        href="https://t.me/raqamlitexnologiya_oqdaryo">Oqdaryo-IT_PARK</a>
                    <!-- Go To Top Link -->

                </div>
            </div>
        </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static './JavaScripts/app.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menuni').click(function () {
                $('.ul').toggleClass('active'),
                    console.log("hello");
            })
        })

    </script>
</body>

</html>